.feature-item {
	position: relative;
	padding-bottom: 3.75rem;

	@mixin atSmall {
		padding-left: 128px;
	}

	&__icon {
		display: block;
		margin: 0 auto;
		@mixin atSmall {
			position: absolute;
			left: 0;
		}
	}
	&__title {
		font-weight: 300;
		margin-bottom: .8rem;
		font-size: 1.6rem;
		margin-top: .8em;
		text-align: center;
		@mixin atSmall {
			text-align: left;
			margin-top: 1em;
			font-size: 1.875rem;
		}
	}
}