.row {
	@mixin clearfix;
	&--t-padding {
		padding-top: 80px;
	}
	&__mobile-margin-b {
		margin-bottom: 1rem;
	}

	&--gutters {
		margin-right: -65px;
	}
	&--gutters-learge {
		margin-right: -100px;
	}
	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-learge > div {
		padding-right: 100px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}

	@mixin atMedium {
		&__medium-4 {
			float: left;
			width: 33.33%;
		}
		&__medium-8 {
			float: left;
			width: 66.66%;
		}
		&__medium-6 {
			float: left;
			width: 50%;
		}
	}
	/*Adding Flex*/
	&--equla-height {
		@mixin atMedium {
			display: flex;
		}

		& > div {
			display: flex;
			float: none;
		}
	}
}