.wapper {
	overflow: hidden;
	padding-left: 18px;
	padding-right: 18px;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	&--medium {
		max-width: 976px;
	}
	&--no-padding {
		padding-left: 0;
		padding-right: 0;
		@mixin atMedium {
			padding-left: 18px;
			padding-right: 18px;
		}
	}
	.wapper {
		padding-left: 0;
		padding-right: 0;
	}
}